tan {
    color: #FFF2CC;
}

orange {
    color: #FFD966;
}

salmon {
    color: #F4B183;
}

brown {
    color: #DFA67B;
}

menu-blue {
    color: #95BDFF;
}

#home-h1{
    color: menu-blue;
}

body {
    background-color: #FEFCF3;
}

nav {
    background-color: menu-blue;
}

h1.center{
    text-align: center;
}